@import 'tailwindcss';

.light{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10vh;
    background-color: rgb(107, 216, 253);
}

.dark{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10vh;
    background-color: rgb(10, 104, 136);
}